
body {
  background-color: gainsboro;
}

h1 {
  color: black;
  font-family: monaco;
  font-size: 30px;
  text-align: center;
}

pre {
  color: black;
  font-family: monaco;
  font-size: 30px;
  text-align: center;
} 
